
LOCAL_GOVERNANCE_CONTROL_ENABLED=true
DEFAULT_LOCAL_GOVERNANCE_CONTROL_PROFILE=balanced_local_governance_control
LOCAL_GOVERNANCE_CONTROL_DEFAULT_LANGUAGE=tr
LOCAL_GOVERNANCE_CONTROL_DRY_RUN_DEFAULT=true
LOCAL_GOVERNANCE_CONTROL_ALLOW_REAL_GOVERNANCE_DECISION=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_REAL_COMMITTEE_APPROVAL=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_LEGAL_SIGNOFF=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_COMPLIANCE_SIGNOFF=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_PRODUCTION_APPROVAL_CLAIM=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_LIVE_TRADING_APPROVAL_CLAIM=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_BROKER_READINESS_CLAIM=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_INVESTMENT_ADVICE=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_MODEL_DEPLOYMENT_CLAIM=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_DASHBOARD_CREATION=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_GUI_CREATION=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_TUI_CREATION=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_TELEMETRY=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_CLOUD_UPLOAD=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_PACKAGE_PUBLISH=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_EXTERNAL_SERVICE=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_EXTERNAL_LLM=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_FILE_MODIFICATION=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_FILE_DELETION=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_FILE_MOVE=false
LOCAL_GOVERNANCE_CONTROL_ALLOW_OVERWRITE=false
LOCAL_GOVERNANCE_CONTROL_SCAN_DOCS=true
LOCAL_GOVERNANCE_CONTROL_SCAN_REPORTS=true
LOCAL_GOVERNANCE_CONTROL_SCAN_DATA_LAKE=true
LOCAL_GOVERNANCE_CONTROL_SCAN_SCRIPTS=true
LOCAL_GOVERNANCE_CONTROL_SCAN_TESTS=true
LOCAL_GOVERNANCE_CONTROL_SCAN_GENERATED_DOCS=true
LOCAL_GOVERNANCE_CONTROL_SCAN_USABILITY_OUTPUTS=true
LOCAL_GOVERNANCE_CONTROL_SCAN_PERFORMANCE_OUTPUTS=true
LOCAL_GOVERNANCE_CONTROL_SCAN_SAFETY_OUTPUTS=true
LOCAL_GOVERNANCE_CONTROL_MAX_ITEMS=500000
LOCAL_GOVERNANCE_CONTROL_MAX_LEDGER_ROWS=10000
LOCAL_GOVERNANCE_CONTROL_MIN_READINESS_SCORE=0.40
LOCAL_GOVERNANCE_CONTROL_MIN_QUALITY_SCORE=0.40
LOCAL_GOVERNANCE_CONTROL_SAVE_REPORTS=true
